includes:
    - phpstan-baseline.neon
    - vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
    level: 1
    phpVersion: 80400
    paths:
        - src
    excludePaths:
        - tests
        - vendor
        - src/_view
        - src/Assets
        - src/ACF
        - src/Admin
        - src/Controller
        - src/Api
        - src/Field
        - src/Finder
        - src/Installer
        - src/View
        - src/Model
        - src/Module
        - src/Pagination
        - src/wp-config.php
        - src/bootstrap.php
    fileExtensions:
        - php

    reportUnmatchedIgnoredErrors: false
