includes:
    - phpstan-baseline.neon
    - vendor/szepeviktor/phpstan-wordpress/extension.neon
    - vendor/spaze/phpstan-disallowed-calls/extension.neon

parameters:
    level: 1
    phpVersion: 80400
    paths:
        - src
    excludePaths:
        - tests
        - vendor

        # will be removed
        - src/Model
    fileExtensions:
        - php
    bootstrapFiles:
        - vendor/php-stubs/acf-pro-stubs/acf-pro-stubs.php
    reportUnmatchedIgnoredErrors: false
    disallowedFunctionCalls:
        - function: 'var_dump()'
          message: 'Use Sloth\debug() helper instead'
          allowIn:
            - src/functions.php
        - function: 'print_r()'
          message: 'Use Sloth\debug() helper instead'
        - function: 'dd()'
          message: 'Remove debug statement before committing'
