parameters:
	ignoreErrors:
		-
			message: '#^Call to an undefined static method Sloth\\Model\\User\:\:find\(\)\.$#'
			identifier: staticMethod.notFound
			count: 1
			path: src/Context/Context.php

		-
			message: '#^Call to an undefined static method Sloth\\Model\\Post\:\:find\(\)\.$#'
			identifier: staticMethod.notFound
			count: 1
			path: src/Field/Image.php

		-
			message: '#^Call to an undefined static method Sloth\\Model\\Post\:\:where\(\)\.$#'
			identifier: staticMethod.notFound
			count: 1
			path: src/Field/Image.php

		-
			message: '#^Call to an undefined static method Sloth\\Model\\SlothMediaVersion\:\:updateOrCreate\(\)\.$#'
			identifier: staticMethod.notFound
			count: 1
			path: src/Field/Image.php

		-
			message: '#^Call to an undefined static method Corcel\\Model\\Attachment\:\:find\(\)\.$#'
			identifier: staticMethod.notFound
			count: 1
			path: src/Media/Version.php

		-
			message: '#^Call to an undefined static method Sloth\\Model\\SlothMediaVersion\:\:where\(\)\.$#'
			identifier: staticMethod.notFound
			count: 1
			path: src/Media/Version.php
