<div style="display:flex; justify-content: space-between; align-items: baseline;">
    <img src="https://img.shields.io/badge/versions-{{ versions }}-brightgreen.svg" alt="Versions"/>
    <img src="https://raw.githubusercontent.com/folivoro/art/refs/heads/main/sloth-logo.svg" alt="Sloth Logo"
         width="75"/>
    <p>Made with ❤️ in Darmstadt.</p>
</div>
